.start {
    -fx-background-image: url("themes/dark.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: 400 350;
}

.login {
    -fx-background-image: url("themes/dark.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: 720 400;
}

.register {
    -fx-background-image: url("themes/dark.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: 400 450;
}

.confirm {
    -fx-background-image: url("themes/dark.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: 250 100;
}